<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>652172844593-igji9fshmo38lovptgjoo4arhnparqg3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.652172844593-igji9fshmo38lovptgjoo4arhnparqg3</string>
	<key>API_KEY</key>
	<string>AIzaSyAxsLzxq69Of3UtH3e_IqaME3LED7igNL4</string>
	<key>GCM_SENDER_ID</key>
	<string>652172844593</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>id.gits.flutterStarterKit.stag</string>
	<key>PROJECT_ID</key>
	<string>gits-flutter-starter-kit-stag</string>
	<key>STORAGE_BUCKET</key>
	<string>gits-flutter-starter-kit-stag.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:652172844593:ios:c1deba0e40856e1805bf10</string>
</dict>
</plist>